* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flowchart-1 {
    width: 100%;
    height: 150px;
    background-image: url(img/1.png);
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 50px;
}

.flowchart-2 {
    width: 100%;
    height: 380px;
    background-image: url(img/2.png);
    background-repeat: no-repeat;
    margin-left: 200px;
}

.set-btn {
    position: absolute;
    background-color: #0d6efd;
    color: #fff;
    border-radius: 5px;
    padding: .8rem 1rem;
    border: none;
    font-size: 1.2rem;
    right: 0;
    margin-right: 100px;

}

.set-btn:hover {
    cursor: pointer;
    background-color: #0c56c5;
    transition: background-color 0.5s linear;
}

.line {
    position: absolute;
    padding: 1.5rem 2rem;
    border-right: 1px solid rgba(6, 168, 46, 0.652);
    margin: 0 1rem;
    left: 1230px;
    
}

.free {
    margin-top: 30px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.end {
    margin-top: 30px;
    margin-left: 175px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
    transition: .3s linear;
    opacity: 0;
    cursor: pointer;
}

.docu {
    margin-top: 30px;
    margin-left: 340px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.start-2 {
    margin-top: 237px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
    transition: .3s linear;
    opacity: 0;
    cursor: pointer;
}

.busy {
    margin-left: 175px;
    margin-top: 237px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.change {
    margin-left: 340px;
    margin-top: 237px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
    transition: .3s linear;
    opacity: 0;
    cursor: pointer;
}

.wait {
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 50%;
}

.start-1 {
    margin-left: 140px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: .3s linear;
    opacity: 0;
    cursor: pointer;
}
.start-1:hover,.change-1:hover,.end:hover,
.start-2:hover,.change:hover,.end-3:hover,.start-3:hover,.change-3:hover
{
    background-color: #28a745;
    box-shadow: 0px 0px 12px #28a745;
    opacity: 1;
    color: #fff;
}
.inside
 {
    margin-left: 280px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.done{
    margin-left: 570px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.change-1 {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 430px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: .3s linear;
    opacity: 0;
    cursor: pointer;
}



.end-line {
    width: 95%;
    border-bottom: 1px solid #ccc;
    margin-top: 60px;
}
.end-title {
    width: 90%;
    border-bottom: 1px solid #ccc;
    margin-left: 5%;

}
.flowchart-3 {
    width: 100%;
    height: 500px;
    background-image: url(img/3.png);
    background-repeat: no-repeat;
    margin-left: 200px;
    margin-top: 50px;
}
.free-3{
    margin-left: 150px;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.end-3{
    margin-left: 290px;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
    transition: .3s linear;
    opacity: 0;
    cursor: pointer;
}
.docu-3{
    margin-left: 430px;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.wait-3{
    margin-top: 165px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.start-3{
    margin-top: 166px;
    margin-left: 150px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
    transition: .3s linear;
    opacity: 0;
    cursor: pointer;
}
.busy-3{
    margin-top: 166px;
    margin-left: 290px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;

}
.change-3{
    margin-top: 166px;
    margin-left: 431px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
    transition: .3s linear;
    opacity: 0;
    cursor: pointer;
}
.done-3{
   margin-top: 166px;
    margin-left: 580px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.inside-3{
    margin-top: 328px;
    margin-left: 290px;
    width: 60px;
    height: 60px;
    position: absolute;
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.question-1,.question-2,.question-3,.question-4{
    margin-left: 80px;
}

.fired{
    transition: .5 linear;
    opacity: 1;
}

.current_1,.current_2,.current_3{
    font-size : 24px;
    position: absolute;
}
.code{
    margin-left: 5%;
}